if SHIELD_DECADECA_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "DecaDeca_Split"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_DECADECA_SPLIT_LEFT || SHIELD_DECADECA_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif